body {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
}

/*
* {
  border: 1px solid coral;
}
*/

div {
  box-sizing: border-box;
}

header {
  background: url(../img/first-bg.jpg) no-repeat center top / cover;
  padding-bottom: 160px;
}

.container {
  margin: 0 auto;
  width: 930px;
}

.heading {}

.clearfix:after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.logo {
  margin-top: 41px;
  float: left;
}

nav {
  float: right;
  margin-top: 50px;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
}

.menu a {
  color: azure;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

.titles__first {
  font-size: 40px;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  margin-top: 180px;
}

header h1 {
  font-size: 75px;
  color: aliceblue;
  text-transform: uppercase;
  margin: 15px;
}

.button {
  background: chocolate;
  padding: 20px 0;
  border-radius: 4px;
  text-decoration: none;
  color: #484543;
  width: 240px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

.title {
  padding-top: 115px;
}

.title h2 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.title p {
  margin: 5px;
  color: #777;
  text-align: center;
  font-size: 16px;
}

.services {
  margin-top: 50px;
}

.services__item {
  width: 270px;
  float: left;
  text-align: center;
}

.services__item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.services__item p {
  color: #777;
  font-size: 14px;
  line-height: 1.55em;
}

.services__item:nth-last-child(2) {
  margin-left: 65px;
}

.services__item:last-child {
  float: right;
}

#services {
  padding-bottom: 120px;
}

#portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

.portfolio__item {
  float: left;
}

.portfolio__item:nth-last-child(2) {
  margin-left: 22px;
}

.portfolio__item:last-child {
  float: right;
}

#about {}

.about__item {
  margin-top: 80px;
}

.item__description {
  float: left;
  width: 373px;
  line-height: 20px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}


.item__description h4,
p {
  text-align: right;
  margin: 0;
}

.about__item:nth-child(even) div {
  float: right;
}

.about__item:nth-child(even) 
p {
  text-align: left;
}

.about__item:nth-child(even) h4 {
  text-align: left;
}

footer{
  background:#353537;
  color: #f7f7f7;
  text-align: center;
  padding: 15px;
}